.newsletter-section {
  padding: 60px 20px;
  padding-bottom: 80px;
  background-color: #ffffff;
  border-top: 1px solid #e2e8f0;
  width: 100%;
}

.newsletter-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.newsletter-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.newsletter-title span {
  color: var(--theme-color);
}

.newsletter-text {
  font-size: 18px;
  font-weight: 600;
  color: #999999;
  margin-bottom: 30px;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.newsletter-input {
  padding: 12px 16px;
  width: 60%;
  min-width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(95, 95, 95);
  font-family: var(--font-family);
  outline: none;
}

.newsletter-input::placeholder {
  color: #aaaaaa;
}

.newsletter-btn {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-family);
}

.newsletter-btn:hover {
  background-color: #009f7f;
}

.newsletter-note {
  font-size: 20px;
  color: #474747;
  margin-top: 20px;
  font-weight: 600;
}

.newsletter-note i {
  margin-left: 6px;
  color: #00b894;
  font-size: 1.1rem;
  vertical-align: middle;
}
